<header class="header">
  <div class="header__logo">
    <i class="fab fa-youtube"></i>
    <span class="header__app-name">{{ appTitle }}</span>
  </div>
  <form class="header__search" (submit)="onSearch()">
    <div class="header__searchbar-wrapper">
      <input
        type="text"
        class="header__searchbar"
        [(ngModel)]="searchValue"
        name="searchValue"
      />
      <app-button
        class="header__show-settings"
        (click)="onSettingsClick()"
        [parameters]="{
          defaultColors: {
            backgroundColor: 'transparent',
            fontColor: '#c5c5c5',
            borderColor: 'transparent'
          },
          hoverColors: { backgroundColor: 'transparent', fontColor: '#c5c5c5' }
        }"
      >
        <i class="fa fa-sliders-h"></i>
      </app-button>
      <input type="submit" class="header__search-submit" value="search" />
    </div>
    <app-sort-criterias
      [isShown]="criteriasShown"
      (sortByInput)="onSortParamsChange($event)"
    ></app-sort-criterias>
  </form>
  <div class="header__account-info">
    <span class="header__account-name">Your name</span>
    <i class="fa fa-user"></i>
  </div>
</header>
