@import 'mixins';
@import 'colors';
@import 'variables';

.not-found {
  @include flex($gap: 30px 30px);
  width: max(300px, 70vw);
  max-height: calc(100% - $header-height);

  margin: 80px auto 0;

  color: $primary-dark;

  @media (max-width: 965px) {
    flex-direction: column;
  }

  &__emoji {
    font-size: clamp(200px, 50vh, 70vw);
    color: $primary-red;
  }

  &__text-wrapper {
    @media (max-width: 965px) {
      font-size: 0.5em;
    }

    h1 {
      margin: 0 0 10px;
      font-size: 6em;
      text-align: center;
    }

    p {
      font-size: 2em;
    }
  }
}