@import 'colors';
@import 'mixins';
@import 'animations';

.sort-criterias {
  padding: 10px;
  font-size: 0.75em;
  @include flex($gap: 20px);

  transition: opacity $active-transition;

  &__criteria {
    @include button(
      $bg-color: transparent,
      $font-color: $primary-dark,
      $hover-font-color: $primary-red,
      $hover-bg-color: transparent
    );
    border: none;

    &_active {
      color: $primary-red;
      pointer-events: none;
    }
  }

  &__order {
    margin-left: 5px;
    @include button(
      $bg-color: transparent,
      $font-color: $primary-grey,
      $hover-font-color: $primary-red,
      $hover-bg-color: transparent
    );
    border: none;

    animation: appear $active-transition forwards;
    transition: color $hover-transition, scale $active-transition,
      $active-transition;

    &_descending {
      rotate: 180deg;
    }
  }

  &__word-or-sentence {
    @include input($border-radius: 10px, $outline-color: $secondary-blue);
  }
}
