<div class="sort-criterias" [ngStyle]="{ 'opacity': isShown ? '1' : '0' }">
  <span><b>Sort by:</b></span>
  <div
    class="sort-criterias__criteria-wrapper"
    *ngFor="let criteria of criterias"
  >
    <button
      [ngClass]="{
        'sort-criterias__criteria': true,
        'sort-criterias__criteria_active': currentCriteria === criteria
      }"
      (click)="onCriteriaChange(criteria)"
    >
      {{ criteria }}
    </button>
    <button
      [ngClass]="{
        'sort-criterias__order': true,
        'sort-criterias__order_descending': order === 'DESC'
      }"
      class=""
      *ngIf="criteria === currentCriteria"
      (click)="onOrderChange()"
    >
      <i class="fa fa-arrow-up"></i>
    </button>
  </div>
  <input
    type="text"
    class="sort-criterias__word-or-sentence"
    (ngModel)="(currentCriteria)"
    [attr.disabled]="currentCriteria !== 'Word or sentence' || undefined"
  />
</div>
