<div class="video-item" appDateColor="{{ itemData?.snippet?.publishedAt }}">
  <div class="video-item__thumbnail-name-wrapper">
    <img
    src="{{ itemData?.snippet?.thumbnails?.maxres?.url || itemData?.snippet?.thumbnails?.high?.url }}"
    alt="Video thumbnail"
    class="video-item__thumbnail"
    />
    <div class="video-item__name-wrapper">
      <span class="video-item__name">{{ itemData?.snippet?.title }}</span>
    </div>
  </div>
  <app-video-statistics
    [statistics]="itemData?.statistics"
  ></app-video-statistics>
  <a routerLink="./{{ itemData?.id }}">
    <app-button
      class="video-item__more"
      [parameters]="{
        defaultColors: { backgroundColor: '#a20000', fontColor: 'white' },
        hoverColors: {}
      }"
      >More</app-button
    >
  </a>
</div>
