<div class="video-item" appDateColor="{{ video.publishDate }}">
  <div class="video-item__thumbnail-name-wrapper">
    <img
      src="{{ video.thumbnail }}"
      alt="Video thumbnail"
      class="video-item__thumbnail"
    />
    <div class="video-item__name-wrapper">
      <span class="video-item__name">{{ video.title }}</span>
    </div>
    <button
      class="video-item__delete"
      *ngIf="isCustom; else favoriteButton"
      (click)="onDelete()"
    >
      <i class="fa fa-xmark"></i>
    </button>
    <ng-template #favoriteButton>
      <button class="video-item__favorite" (click)="onFavoriteToggle()">
        <i
          [ngClass]="{
            'fa-heart': true,
            'fa-solid': video.isFavorite,
            'fa-regular': !video.isFavorite
          }"
        ></i>
      </button>
    </ng-template>
  </div>
  <app-video-statistics
    *ngIf="video.statistics"
    [statistics]="video.statistics"
  ></app-video-statistics>
  <a routerLink="/videos/{{ video.id }}">
    <app-button
      class="video-item__more"
      [parameters]="{
        defaultColors: { backgroundColor: '#a20000', fontColor: 'white' },
        hoverColors: {}
      }"
      >More</app-button
    >
  </a>
</div>
