<div class="video-item" appDateColor="{{ itemData?.snippet?.publishedAt }}">
  <img
    src="{{ itemData?.snippet?.thumbnails?.maxres?.url }}"
    alt="Video thumbnail"
    class="video-item__thumbnail"
  />
  <span class="video-item__name">{{ itemData?.snippet?.title }}</span>
  <app-video-statistics [statistics]="itemData?.statistics"></app-video-statistics>
  <a routerLink="./{{itemData?.id}}">
    <app-button
    class="video-item__more"
    [parameters]="{
      defaultColors: { backgroundColor: '#a20000', fontColor: 'white' },
      hoverColors: {}
    }"
    >More</app-button>
  </a>
</div>
