<div class="sort-criterias" [ngStyle]="{ opacity: isShown ? '1' : '0' }">
  <span><b>Sort by:</b></span>
  <div
    class="sort-criterias__criteria-wrapper"
    *ngFor="let criteria of criterias"
  >
    <app-button
      [parameters]="{
        defaultColors: {
          backgroundColor: 'transparent',
          fontColor: 'black',
          borderColor: 'transparent'
        },
        hoverColors: { backgroundColor: 'transparent', fontColor: '#a20000' }
      }"
      [ngClass]="{
        'sort-criterias__criteria': true,
        'sort-criterias__criteria_active': currentCriteria === criteria
      }"
      (click)="onCriteriaChange(criteria)"
      >{{ criteria }}</app-button
    >
    <app-button
      [ngClass]="{
        'sort-criterias__order': true,
        'sort-criterias__order_descending': order === 'DESC'
      }"
      *ngIf="criteria === currentCriteria"
      (click)="onOrderChange()"
      [parameters]="{
        defaultColors: {
          backgroundColor: 'transparent',
          fontColor: '#c5c5c5',
          borderColor: 'transparent'
        },
        hoverColors: { backgroundColor: 'transparent', fontColor: '#a20000' }
      }"
    >
      <i class="fa fa-arrow-up"></i>
    </app-button>
  </div>
  <span>Filter by words:</span>
  <input
    type="text"
    class="sort-criterias__word-or-sentence"
    [(ngModel)]="filterBy"
    (input)="emitParams(false)"
    (keydown.enter)="emitParams()"
  />
</div>
