<header class="header">
  <div class="header__logo">
    <i class="fab fa-youtube"></i>
    <span class="header__app-name">{{ appTitle }}</span>
  </div>
  <form class="header__search" (submit)="onSearch()">
    <div class="header__searchbar-wrapper">
      <input
        type="text"
        class="header__searchbar"
        [(ngModel)]="searchValue"
        name="searchValue"
      />
      <button
        type="button"
        class="header__show-settings"
        (click)="onSettingsClick()"
      >
        <i class="fa fa-sliders-h"></i>
      </button>
      <input type="submit" class="header__search-submit" value="search" />
    </div>
    <app-sort-criterias
      *ngIf="criteriasShown"
      (sortByInput)="onSortParamsChange($event)"
    ></app-sort-criterias>
  </form>
  <div class="header__account-info">
    <span class="header__account-name">Your name</span>
    <i class="fa fa-user"></i>
  </div>
</header>
