<div class="video-item" [ngStyle]="{ 'border-color': getBorderColor() }">
  <img
    src="{{ itemData?.snippet?.thumbnails?.maxres?.url }}"
    alt="Video thumbnail"
    class="video-item__thumbnail"
  />
  <span class="video-item__name">{{ itemData?.snippet?.title }}</span>
  <div class="video-item__statistics">
    <div
      class="video-item__stat"
      *ngFor="let stat of itemData?.statistics | keyvalue"
    >
      <i class="fa {{ stat.key | getStatIcon }}"></i>
      <span class="video-item__stat-value">{{ stat.value }}</span>
    </div>
  </div>
  <button class="video-item__more">More</button>
</div>
