@import 'mixins';
@import 'colors';
@import 'variables';

.form-wrapper {
  width: 100%;
}

.form {
  @include flex($justify-content: space-around, $direction: column, $gap: 20px);
}

.form__title {
  text-align: center;
  margin: 0;
}

.form__submit {
  width: 75%;
  height: 30px;
  @include button(
    $bg-color: $primary-red,
    $font-color: $secondary-light,
    $border-color: $primary-red
  );
  text-transform: capitalize;
}
